APP_PORT=8801
APP_STATIC_PUBLIC_PATH=./public
WS_PORT=8851

REDIS_HOST=localhost
REDIS_PORT=6379

WS_GATEWAY_HOST_PROCESSOR=localhost
# 7180 notification // 7160 monitor to test
WS_GATEWAY_PORT_PROCESSOR=7180

UUID=1e4f31b4
DB_URL=./database/tracking-notification.db

# Whatsapp Worker configuration
WP_REMOVE_ON_COMPLETE=1000
WP_REMOVE_ON_FAIL=2500
WP_LIMITER_MAX=1
WP_LIMITER_DURATION=1000
WP_LIMITER_GROUP_KEY=channelId
WP_CONCURRENCY=10

# Whatsapp Queue configuration
WP_QUEUE_ATTEMPTS=6
WP_QUEUE_BACKOFF_DELAY=10000

# Email Worker configuration
EMAIL_REMOVE_ON_COMPLETE=1000
EMAIL_REMOVE_ON_FAIL=2000
EMAIL_LIMITER_MAX=3
EMAIL_LIMITER_DURATION=1000
EMAIL_LIMITER_GROUP_KEY=channelId
EMAIL_CONCURRENCY=15

# Email Queue configuration
EMAIL_QUEUE_ATTEMPTS=6
EMAIL_QUEUE_BACKOFF_DELAY=10000