APP_PORT=8801
APP_STATIC_PUBLIC_PATH=./public

REDIS_HOST=localhost
REDIS_PORT=6379

WHATSAPP_BROWSER_LIFETIME_MINUTES=10
WHATSAPP_BROWSER_VERIFY_LIFE_MINUTES=5

WS_GATEWAY_HOST_PROCESSOR=localhost
# 7180 notification // 7160 monitor to test
WS_GATEWAY_PORT_PROCESSOR=7180

UUID=1e4f31b4
DB_URL=./database/tracking-notification.db