APP_PORT=7768
APP_STATIC_PUBLIC_PATH=./public

REDIS_HOST=localhost
REDIS_PORT=6379

WHATSAPP_BROWSER_LIFETIME_MINUTES=10
WHATSAPP_BROWSER_VERIFY_LIFE_MINUTES=5

WS_GATEWAY_HOST_PROCESSOR=localhost
WS_GATEWAY_PORT_PROCESSOR=7180

UUID=1e4f31b4-869a-4b0e-91ef-6cfb7457e961